.list {
  display: flex;
  justify-content: center;
}

.list:last-child {
  margin-right: 0;
}

.item {
  margin-right: var(--spacing-4);
  font-size: var(--fontSize-1);
}

.current {
  font-weight: var(--fontWeight-bold);
}
