@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: '#005b99';
        --secondary: '#0077c7';
        --text: '#282a36';
        --text-light: '#44475a';
        --heading: '#1a202c';
        --heading-black: '#282a36';
        --accent: '#d1dce5';
        --background: '#fff';
    }

    .dark {
        --primary: '#bd93f9';
        --secondary: '#0077c7';
        --text: '#f4f4f5';
        --text-light: '#deded9';
        --heading: '#f4f4f5';
        --heading-black: '#f8f8f2';
        --accent: '#2e353f';
        --background: '#18181b';
    }
}

/*icon color for dark mode*/
svg {
    fill: currentColor;
}