@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
    }

    .dark {
    }
  }


ul {
  margin: 0;
  padding: 0;
}

/*반응형에서 코드블럭 overflow가 되지 않도록 조정*/
.prose {
  max-width: 90vw;
}

.prose strong {
  font-weight: 700;
}
