@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafaf9;
    --foreground: #0c0a09;
    --border: #eae9e8;
  }

  .dark {
    --background: #0c0a09;
    --foreground: #fafaf9;
    --border: #525252;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/*icon color for dark mode*/
svg {
  fill: currentColor;
}

ul {
  margin: 0;
  padding: 0;
}

/*반응형에서 코드블럭 overflow가 되지 않도록 조정*/
.prose {
  max-width: 90vw;
}
