.light code span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

.light pre {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
}

.dark code span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
}

.dark pre {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
}